{% extends 'entidades/index.html' %}
{% load static %}

{%block contenidoLog %}
<header>
    <h2 class="tm-main-title">Acerca de mi</h2>   
    
    <p>Economista de profesión, me recibí en la UBA en el año 2017. Enfoqué mi carrera profesional para el 
        área de datos como DataViz. Actualmente me encuentro ampliando mis horizontes profesionales para 
        introducirme de a poco en el desarrollo back para potenciar las herramientas de visualización.
    </p>
</header>

{%endblock contenidoLog %}
